.about {
  padding-top: 31px;

  @include tablet() {
    padding-top: 55px;
  }

  @include desktop() {
    padding-top: 68px;
    padding-left: 225px;
  }
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $title-dark;
  margin: 0;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.about__item {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $title-dark;
  padding: 83px 0 0 0;
}
