.about {
  padding-top: 31px;

  @include tablet() {
    padding-top: 55px;
  }

  @include desktop() {
    padding-top: 68px;
    padding-left: 175px;
  }
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: $title-dark;
  margin: 0;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop() {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: 30px;

  @include tablet() {
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
  }

  @include desktop() {
    column-gap: 85px;
  }
}

.about__item {
  padding: 83px 0 0 0;
  background-repeat: no-repeat;

  @include tablet() {
    max-width: 576px;
    padding-top: 100px;
    box-sizing: border-box;
  }

  &:first-child {
    background-image: url("../img/about/flower.svg");
    background-position: top 28px left 8px;

    @include tablet() {
      order: 1;
      background-position: top 41px left 8px;
    }
  }

  &:nth-child(2) {
    background-image: url("../img/about/money.svg");
    background-position: top 30px left;

    @include tablet() {
      order: 3;
      background-position: top 44px left 1px;
    }
  }

  &:nth-child(3) {
    background-image: url("../img/about/heart.svg");
    background-position: top 35px left 7px;

    @include tablet() {
      order: 5;
      background-position: top 50px left 8px;
    }
  }

  &:nth-child(4) {
    background-image: url("../img/about/yarn.svg");
    background-position: top 32px left 3px;

    @include tablet() {
      order: 2;
      background-position: top 45px left 3px;
    }
  }

  &:nth-child(5) {
    background-image: url("../img/about/rocket.svg");
    background-position: top 33px left -6px;

    @include tablet() {
      order: 4;
      background-position: top 51px left -6px;
    }
  }

  &:last-child {
    background-image: url("../img/about/gift.svg");
    background-position: top 32px left 3px;

    @include tablet() {
      order: 6;
      background-position: top 46px left 3px;
    }
  }
}

.about__text {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $title-dark;
  margin: 0;

  @include tablet() {
    font-size: 20px;
    line-height: 22px;
  }
}
