.contacts {
  padding: 44px 30px 39px 30px;
  margin: 0 auto;
  background-image: url("../img/decoration/zigzag-small.svg");
  background-repeat: repeat-x;
  background-position: top;

  @include tablet() {
    padding: 63px 50px 57px 50px;
    background-image: url("../img/decoration/zigzag-medium.svg");
  }

  @include desktop() {
    display: grid;
    grid-template-columns: 1fr 527px;
    column-gap: 23px;
    padding: 94px 50px 105px 113px;
    background-image: url("../img/decoration/zigzag-large.svg");
    background-repeat: no-repeat;
    background-size: 1050px;
    max-width: 1150px;
  }
}

.contacts__title {
  font-size: 25px;
  font-weight: 700;
  color: $title-dark;
  text-align: left;
  margin: 0;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
    padding-top: 31px;
    background-image: url("../img/decoration/flag.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  @include desktop() {
    font-size: 53px;
    line-height: 57px;
    padding: 46px 0 0 100px;
    margin-left: -50px;
    background-position: left;
  }
}

.contacts__list {
  text-align: left;
  margin: 0;

  @include tablet-only() {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    column-gap: 25px;
  }
}

.contacts__item {
  display: flex;
  margin-top: 28px;

  @include tablet() {
    margin-top: 40px;
  }

  @include desktop() {
    margin-top: 28px;
    margin-left: 50px;
  }
}

.contacts__item-title {
  width: 76px;
  font-size: 14px;
  margin-right: 20px;

  @include tablet() {
    width: 81px;
    font-size: 17px;
  }

  @include desktop() {
    width: 82px;
  }
}

.contacts__item-text {
  width: 100%;
  font-size: 14px;
  margin: 0;

  &--mail {
    color: $text-dark;
    text-decoration: underline $color-aqua-line;
  }

  @include tablet() {
    font-size: 17px;
  }
}

.contacts__map {
  height: 454px;
  margin: 62px -30px 0 -30px;

  @include tablet() {
    margin: 49px -50px 0 -50px;
  }

  @include desktop() {
    width: 100%;
    grid-area: 1 / 2 / 4 / 3;
    margin: 0;
  }
}

.contacts__map-item {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
}

.contacts__map-image {
  display: none;
}

.contacts--no-js .contacts__map-image {
  display: block;
  border: none;
  height: 454px;
  margin: 62px -30px 0 -30px;

  @include tablet() {
    margin: 49px -50px 0 -50px;
  }

  @include desktop() {
    width: 527px;
    height: 457px;
    grid-area: 1 / 2 / 4 / 3;
    margin: 0;
  }
}

.contacts__button {
  margin-top: 42px;
  width: 100%;

  @include tablet() {
    margin-top: 55px;
    width: 230px;
  }

  @include desktop() {
    margin-top: 85px;
    margin-left: 64px;
    align-self: center;
  }
}
