.featured {
  padding-top: 31px;
  padding-bottom: 37px;
  margin: 0 auto;
  background-image: url("../img/decoration/zigzag-small.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  text-align: left;

  @include tablet() {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "ftitle ftitle ftitle ftopweek" "ftext ftext fimg fimg" "flist flist fimg fimg" "fprice fprice fimg fimg";
    padding-top: 39px;
    padding-bottom: 52px;
    background-image: url("../img/decoration/zigzag-medium.svg");
  }

  @include desktop() {
    grid-template-columns: 100px 307px 525px;
    grid-template-areas: "ftopweek ftitle fimg" "ftopweek ftext fimg" "ftopweek flist fimg" "ftopweek fprice fimg";
    column-gap: 43px;
    padding-top: 71px;
    padding-bottom: 73px;
    background-image: url("../img/decoration/zigzag-large.svg");
    background-size: 1050px auto;
    background-repeat: no-repeat;
  }
}

.featured__title {
  grid-area: ftitle;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $title-dark;
  margin: 0;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
    max-width: 450px;
  }

  @include desktop() {
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
    padding-top: 61px;
  }
}

.featured__topweek-titel {
  grid-area: ftopweek;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $color-aqua-light;
  text-transform: uppercase;
  margin: 4px 0 0;

  @include tablet() {
    width: 100px;
    margin-top: 7px;
    margin-right: 13px;
    margin-left: auto;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  @include desktop {
    padding-top: 69px;
    margin: 0 0 0 auto;
  }
}

.featured__text {
  grid-area: ftext;
  line-height: 24px;
  margin: 17px 0 0 0;
  align-self: start;

  @include tablet() {
    font-size: 17px;
    line-height: 30px;
    margin-top: 38px;
    max-width: 292px;
  }

  @include desktop() {
    margin: 0;
  }
}

.featured__list {
  grid-area: flist;
  margin-top: 28px;

  @include tablet() {
    margin-top: 48px;
  }

  @include desktop() {
    margin: 0;
  }
}

.featured__item {
  display: flex;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid $color-background-product;
  padding: 10px 0 10px 0;

  @include tablet() {
    max-width: 292px;
  }
}

.featured__item-title {
  width: 97px;
}

.featured__item-text {
  margin: 0;
}

.featured__image {
  grid-area: fimg;
  margin-top: 28px;

  @include tablet() {
    margin-left: auto;
    margin-top: 51px;
  }

  @include desktop() {
    margin: 0;
  }
}

.featured__image-item {
  display: block;
  margin: 0 auto;

  @include tablet() {
    width: 334px;
    height: 404px;
  }

  @include desktop() {
    width: 525px;
    height: 636px;
    margin: 0;
  }
}

.featured__price {
  grid-area: fprice;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet() {
    margin-top: 57px;
    display: block;
    text-align: center;
    max-width: 292px;
  }

  @include desktop() {
    margin-top: auto;
  }
}

.featured__price-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.featured__button {
  width: 100%;
  margin-top: 25px;

  @include tablet() {
    margin-top: 33px;
  }

  @include desktop() {
    max-width: 292px;
  }
}
