.feedback {
  padding-top: 58px;
  padding-bottom: 45px;
  margin: 0;

  @include tablet() {
    padding-top: 83px;
    padding-bottom: 47px;
    margin-top: 83px;
    margin-bottom: 68px;
    background-image: url("../img/feedback-background.jpg");
    background-size: 46% auto;
    background-repeat: no-repeat;
    background-position: center left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feedback-background@2x.jpg");
      background-size: 350px auto;
    }
  }

  @include desktop() {
    padding: 78px 50px 96px 224px;
    margin: 90px auto 67px auto;
    background-position: center left 50px;
  }
}

.feedback__title {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  color: $title-dark;
  margin: 0;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
    order: -2;
    max-width: 60%;
  }

  @include desktop() {
    font-size: 53px;
    line-height: 57px;
  }
}

.feedback__wrapper {
  position: relative;

  @include tablet() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.feedback__list {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;

  @include tablet() {
    margin-top: 24px;
  }
}

.feedback__text {
  margin: 14px 0 0 0;

  @include tablet() {
    font-size: 17px;
    margin: 39px 0 0 0;
  }

  @include desktop() {
    margin: 35px 0 0 0;
  }
}

.feedback__author {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $title-dark;
  margin: 33px 0 0 0;

  @include tablet() {
    font-size: 18px;
    margin: 61px 0 0 0;
  }

  @include desktop() {
    font-size: 17px;
    margin: 44px 0 0 0;
  }
}

.feedback__author-contact {
  font-size: 17px;
  margin: 0;
}

.feedback__button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @include tablet() {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }
}

.feedback__button--previous,
.feedback__button--next {
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 130px;
  width: 40%;
  height: 52px;
  padding: 0;

  @include tablet() {
    border: none;
  }
}

.feedback__button--previous {
  background-image: url("../img/arrow-left.svg");
}

.feedback__button--next {
  background-image: url("../img/arrow-right.svg");
  border-left: none;
}

.feedback__add-review {
  width: 100%;
  justify-content: center;
  margin: 38px 0 0 0;

  @include tablet() {
    order: -1;
    width: auto;
    max-width: 40%;
    min-width: 175px;
    font-size: 17px;
    margin-top: 0;
    margin-left: auto;
  }
}
