.page-footer {
  background-color: $color-white-darck;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: $title-darck;
}
