.page-footer__wrapper {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: $color-white-darck;

  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.page-footer__logo {
  display: none;

  @include tablet() {
    display: block;
  }
}

.social {
  display: flex;
  justify-content: center;

  @include tablet() {
    margin-top: 8px;
  }
}

.social__link--youtube {
  margin-left: 31px;
}

.social__link--telegram {
  margin-left: 35px;
}

.page-footer__social-list {
  margin: 0 auto;

  @include tablet() {
    margin: 0;
  }
}

.page-footer__copyright {
  margin-top: 28px;

  @include tablet() {
    margin-top: 0;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  align-items: center;
  border-top: 1px solid $color-border;
  padding-top: 29px;

  @include tablet() {
    border: none;
  }

  &__link {
    width: 27px;
    height: 34px;
    color: $color-aqua-light;
    margin-left: 22px;

    &:hover,
    &:focus-visible {
      color: $color-aqua-footer;
    }

    &:focus {
      opacity: 0.3;
    }
  }
}
