.page-footer {
  background-color: $color-white-darck;
}

.page-footer__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.page-footer__icon {
  display: none;
  fill: $title-dark;
  transition: 0.3s;

  @include tablet() {
    display: block;
  }

  &:hover,
  &:focus-visible {
    fill: $color-aqua-footer;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  min-width: 142px;

  @include tablet() {
    margin-top: 0;
  }
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__icon {
  fill: $icon-dark;
  transition: 0.3s;

  &:hover,
  &:focus-visible {
    fill: $color-aqua-footer;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  margin-top: 32px;

  @include tablet() {
    margin-top: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  gap: 29px;
  text-decoration: none;
  align-items: center;
  border-top: 1px solid $color-border;
  padding-top: 22px;
  transition: 0.3s;

  @include tablet() {
    border: none;
    padding-top: 0;
    gap: 25px;
  }

  @include desktop() {
    gap: 29px;
  }
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: $title-dark;
}

.copyright__icon {
  fill: $title-aqua-light;
  transition: 0.3s;

  &:hover,
  &:focus {
    fill: $color-aqua-footer;
  }

  &:active {
    opacity: 0.3;
  }
}
