.form {
  padding: 0 30px;
  margin: 29px auto 0 auto;
  box-sizing: border-box;

  @include tablet() {
    margin-top: 0;
    padding: 0;
  }
}

.form__background {
  @include tablet() {
    background-color: $color-white-darck;
  }
}

.form__footer {
  margin: 0 auto;
  margin-top: 7px;
  padding-bottom: 55px;
  box-sizing: border-box;

  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 49px 50px;
    margin-top: 0;
  }

  @include desktop() {
    padding: 0 0 50px 174px;
    margin: 0 auto;
    max-width: 1050px;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin: 0;

  @include tablet() {
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop() {
    padding: 0 174px 0 0;
  }
}

.form__button {
  font-size: 17px;
  line-height: 16px;
  width: 100%;
  padding: 16px 20px;
  margin-top: 30px;

  @include tablet() {
    min-width: 230px;
    width: auto;
    order: -1;
    margin: 0;
  }
}

.form__additionally {
  position: relative;

  @include tablet() {
    box-sizing: border-box;
    border-top: none;
    margin: 0 50px;
    padding: 50px 0 44px 169px;
  }

  @include desktop() {
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-right: 173px;
  }
}

.form__additionally-area {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: rgb($title-dark, 0.3);
  width: 100%;
  min-height: 142px;
  border: 2px solid $text-dark;
  padding: 14px 17px 17px 14px;
  box-sizing: border-box;
  outline: none;
  margin-top: 22px;

  @include tablet() {
    font-size: 19px;
    line-height: 18px;
    margin-top: 0;
  }

  @include desktop() {
    max-width: 700px;
    padding-left: 16px;
  }

  &:hover,
  &:focus-visible {
    border-color: $color-aqua-line;
  }

  &:focus {
    color: $title-dark;
    border-color: rgba($color-aqua, 0.6);
  }
}

.form__additionally-title {
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $color-aqua-light;
  text-transform: uppercase;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  width: 100%;

  @include tablet() {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
  }

  @include desktop() {
    top: 67px;
    left: 60px;
  }
}

.form__additionally-title::before {
  display: block;
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $color-aqua-line;
  z-index: -1;

  @include tablet() {
    display: none;
  }
}

.form__additionally-title-text {
  position: relative;
  padding-right: 22px;
  background-color: $color-white;

  @include tablet() {
    padding-right: 0;
    top: 69px;
  }

  @include desktop() {
    top: 3px;
  }
}
