.form-container__title {
  font-size: 27px;
  font-weight: 700;
  color: $title-dark;
  background-color: $color-white-darck;
  padding: 73px 0;
  margin: 0;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
    padding: 101px 0 87px 0;
  }

  @include desktop() {
    font-size: 53px;
    line-height: 57px;
    padding: 102px 0 113px;
  }
}

.form-container__text {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  margin: 17px 0 0 0;

  @include tablet() {
    font-size: 17px;
    line-height: 30px;
    margin-top: 54px;
  }

  @include desktop() {
    margin-top: 99px;
    margin-left: 175px;
    max-width: 702px;
  }
}
