.group {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;

  @include tablet() {
    border-top: none;
    padding: 50px 0 50px 169px;
    margin: 0 50px;
  }

  @include desktop() {
    padding-left: 175px;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.group:not(:last-child) {
  @include mobile-only() {
    padding: 30px 0;
  }
}

.group__title {
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $color-aqua-light;
  text-transform: uppercase;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  width: 100%;

  @include tablet() {
    position: absolute;
    width: 80px;
    top: 0;
    left: 0;
  }

  @include desktop() {
    top: 0;
    left: 60px;
  }
}

.group__title::before {
  display: block;
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $color-aqua-line;
  z-index: -1;

  @include tablet() {
    display: none;
  }
}

.group__title-type {
  padding-right: 25px;
  background-color: $color-white;

  @include tablet() {
    padding-right: 0;
  }
}

.group__title-color {
  padding-right: 18px;
  background-color: $color-white;

  @include tablet() {
    padding-right: 0;
    background-color: $color-white-darck;
  }
}

.group__title-name {
  padding-right: 18px;
  background-color: $color-white;

  @include tablet() {
    padding-right: 0;
  }
}

.group__title-phone {
  position: relative;
  padding-right: 28px;
  background-color: $color-white;

  @include tablet() {
    padding-right: 0;
    background-color: $color-white-darck;
    top: 65px;
  }

  @include desktop() {
    top: 67px;
  }
}

.group__title-mail {
  position: relative;
  padding-right: 21px;
  background-color: $color-white;

  @include tablet() {
    padding-right: 0;
    background-color: $color-white-darck;
    top: 143px;
  }

  @include desktop() {
    top: 145px;
    left: 1px;
  }
}

.group__label {
  display: block;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: $title-dark;

  @include tablet() {
    display: flex;
    align-items: center;
    font-size: 19px;
  }
}

.group__input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

.group__input::-webkit-outer-spin-button,
.group__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.group--grid {
  @include tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 23px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include desktop() {
    grid-template-columns: 250px 250px 250px;
    grid-gap: 24px 12px;
    padding-top: 46px;
    padding-bottom: 52px;
  }
}

.group--type {
  @include mobile-only() {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  @include tablet() {
    padding-top: 63px;
  }
}

.group--type .group__title {
  @include tablet() {
    top: 81px;
  }
}

.group--color {
  @include mobile-only() {
    padding-top: 25px;
    padding-bottom: 33px;
  }
}

.group--color .group__title {
  @include tablet() {
    top: 66px;
  }

  @include desktop() {
    top: 67px;
  }
}

.group--name {
  @include mobile-only() {
    padding-top: 33px;
    padding-bottom: 29px;
  }

  @include tablet() {
    padding-top: 46px;
  }

  @include desktop() {
    padding-right: 173px;
  }

  &:hover,
  &:focus-within {
    border-color: $color-aqua-line;
  }

  &:focus {
    color: $text-dark;
  }
}

.group--name .group__title {
  @include tablet() {
    top: 67px;
  }

  @include desktop() {
    top: 68px;
  }
}

.group--name .group__label:not(:first-of-type) {
  margin-top: 22px;

  @include tablet() {
    margin-top: 21px;
  }

  @include desktop() {
    margin-top: 21px;
  }
}

.group--name .group__input {
  padding: 17px 60px 17px 0;

  @include tablet() {
    padding: 16px 0 14px 17px;
    margin-left: 25px;
  }

  @include desktop() {
    padding: 15px 0 14px 12px;
    margin-left: 30px;
  }
}

.group__phone {
  position: relative;
  padding-top: 12px;
  padding-bottom: 35px;

  @include tablet() {
    padding-top: 0;
    padding-bottom: 24px;
  }

  @include desktop() {
    padding-right: 173px;
  }

  &:hover .group__image--phone,
  &:focus-within {
    opacity: 1;
    fill: $color-aqua-line;
  }

  &:focus {
    color: $text-dark;
  }
}

.group__phone .group__input {
  padding: 10px 40px 20px 0;

  @include tablet() {
    padding: 10px 60px 14px 15px;
  }

  @include desktop() {
    padding: 12px 60px 14px 16px;
  }
}

.group__email {
  position: relative;
  color: rgb($title-dark, 0.3);
  padding-top: 9px;
  padding-bottom: 35px;

  @include tablet() {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include desktop() {
    padding-right: 173px;
  }

  &:hover .group__image--mail,
  &:focus-within {
    opacity: 1;
    fill: $color-aqua-line;
  }

  &:focus {
    color: $text-dark;
  }
}

.group__email .group__input {
  padding: 11px 40px 18px 0;

  @include tablet() {
    padding: 11px 60px 16px 17px;
  }
}

.group__image {
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}

.group__image--phone {
  top: 19px;
  right: 7px;

  @include tablet() {
    top: 10px;
    right: 26px;
  }

  @include desktop() {
    top: 11px;
    right: 182px;
  }
}

.group__image--mail {
  top: 20px;
  right: 3px;

  @include tablet() {
    top: 16px;
    right: 22px;
  }

  @include desktop() {
    right: 179px;
  }
}
