.form__group {
  display: block;
  position: relative;
  border: none;
  border-top: 1px solid $color-aqua-line;
  box-sizing: border-box;
  padding: 30px 30px 30px 29px;
  margin: 0;

  @include tablet() {
    border-top: none;
    padding: 63px 0 50px 169px;
  }

  @include desktop() {
    padding-left: 225px;
  }
}

.form__group-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $title-aqua-light;
  text-transform: uppercase;
  text-align: left;
  box-sizing: border-box;

  @include tablet() {
    position: absolute;
    top: 68px;
    left: 50px;
  }

  @include desktop() {
    top: 75px;
    left: 97px;
  }
}
