.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 79px;

  @include tablet() {
    justify-content: start;
    margin-bottom: -44px;
    z-index: 1;
  }

  @include desktop() {
    justify-content: center;
  }

  &--no-js {
    @include mobile-only() {
      display: flex;
      flex-direction: column;
    }

    .page-header__toggle {
      display: none;
    }
  }
}

.page-header::after {
  @include tablet() {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba($title-dark, 0.1);
    left: 0;
    top: 88px;
  }
}

.page-header__wrapper {
  @include tablet() {
    position: relative;
    width: 100%;
  }
}

.page-header__logo {
  display: inline-block;
  z-index: 2;
  padding: 22px 0 22px 0;

  @include tablet-only() {
    position: absolute;
    top: 0;
    left: 50px;
    padding: 22px 0 20px 0;
  }

  @include desktop() {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 9px 0 0 0;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-img {
  vertical-align: bottom;

  @include tablet() {
    width: 113px;
    height: 46px;
  }

  @include desktop() {
    width: 149px;
    height: 72px;
  }
}

.page-header__toggle {
  position: absolute;
  border: none;
  width: 21px;
  height: 20px;
  right: 31px;
  top: 29px;
  background-color: inherit;
  background-image: url("../img/decoration/menu-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;

  @include tablet() {
    display: none;
  }
}

.page-header__toggle--clossed {
  background-image: url("../img/decoration/menu-close.svg");
}
