.info-container {
  padding-top: 73px;
  padding-bottom: 120px;

  @include tablet() {
    padding-top: 155px;
    padding-bottom: 372px;
  }

  @include desktop() {
    padding-top: 158px;
    padding-bottom: 355px;
  }
}

.info {
  position: relative;
  background-color: $color-background-img;
  background-image: url("../img/info-m.jpg");
  background-repeat: no-repeat;
  background-position: center top -30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/info-m@2x.jpg");
    background-size: 320px auto;
  }

  @include tablet() {
    background-image: url("../img/info-t.jpg");
    background-position: center bottom 12px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/info-t@2x.jpg");
      background-size: 768px auto;
    }
  }

  @include desktop() {
    background-image: url("../img/info-d.jpg");
    background-position: center bottom 17px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/info-d@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.info::after {
  @include tablet() {
    position: absolute;
    content: "";
    width: 100%;
    height: 24px;
    left: 0;
    bottom: -4px;
    background-image: url("../img/decoration/wave-t.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  @include desktop {
    height: 34px;
    bottom: -5px;
    background-image: url("../img/decoration/wave-d.svg");
  }
}

.info__title {
  font-size: 27px;
  font-weight: 700;
  color: $title-dark;
  max-width: 260px;
  margin: 0 auto;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
    max-width: 668px;
  }

  @include desktop() {
    font-size: 53px;
    line-height: 57px;
    max-width: 700px;
  }
}

.info__wrapper {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

  @include tablet() {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  @include desktop() {
    max-width: 1150px;
  }
}

.info__button {
  display: block;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: $color-white;
  padding: 24px 25% 31px 30px;

  @include tablet () {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 25% 46px 36px;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    transform: scale(1, 1.05);
  }
}

.info__button--lamp {
  background-color: $color-aqua-light;
  background-image: url("../img/button-lamp.svg");
  background-repeat: no-repeat;
  background-position: top 23px right 36px;

  @include tablet() {
    background-position: top 30px right 36px;
  }
}

.info__button--cube {
  background-color: $color-aqua;
  background-image: url("../img/button-cube.svg");
  background-repeat: no-repeat;
  background-position: top 21px right 27px;

  @include tablet() {
    background-position: top 31px right 33px;
  }

  @include desktop() {
    background-position: top 31px right 35px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-aqua-footer;
  }
}
