.info {
  position: relative;
  background-color: $color-background-img;
  background-image: url("../img/info-images-m.jpg");
  background-repeat: no-repeat;
  background-position: center top -30px;

  @include tablet() {
    background-image: url("../img/info-images-t.jpg");
    background-position: center bottom 12px;
  }

  @include desktop() {
    background-image: url("../img/info-images-d.jpg");
    background-position: center bottom 17px;
  }
}

.info__title {
  padding: 73px 0 120px 0;

  @include tablet() {
    padding: 154px 0 372px 0;
  }

  @include desktop() {
    padding: 157px 0 355px 0;
  }
}

.info__title-main-title {
  font-size: 27px;
  font-weight: 700;
  max-width: 260px;
  color: $title-dark;
  margin: 0 auto;

  @include tablet() {
    max-width: 668px;
  }

  @include desktop() {
    max-width: 700px;
  }
}

.info__wrapper {
  @include tablet() {
    display: flex;
    flex-wrap: wrap;
  }
}

.info__button {
  display: block;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: $color-white;
  padding: 24px 25% 31px 30px;

  @include tablet () {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 25% 46px 36px;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
  }
}

.info__button--lamp {
  background-color: $color-aqua-light;
  background-image: url("../img/button-lamp.svg");
  background-repeat: no-repeat;
  background-position: top 23px right 36px;

  @include tablet() {
    background-position: top 30px right 36px;
  }
}

.info__button--cube {
  background-color: $color-aqua;
  background-image: url("../img/button-cube.svg");
  background-repeat: no-repeat;
  background-position: top 21px right 27px;

  @include tablet() {
    background-position: top 31px right 33px;
  }

  @include desktop() {
    background-position: top 31px right 35px;
  }
}
