.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba($color-white, 0.9);
  z-index: 3;
  top: 0;
  left: 0;
}

.modal__form {
  box-sizing: border-box;
  padding: 29px 30px 46px 30px;
  width: 100%;
  max-width: 566px;
  background-color: $color-white;
  border: 1px solid $color-modal;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  margin: 0 auto;

  @include tablet() {
    padding: 38px 93px 46px 93px;
  }
}

.modal__title {
  font-size: 25px;
  font-weight: 700;
  color: $title-dark;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @include tablet() {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__text {
  margin: 0;
  padding: 0;
  margin-top: 13px;

  @include tablet() {
    font-size: 17px;
    margin-top: 13px;
  }
}

.modal__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 260px;
  padding: 0;
  margin: 0 auto;
  margin-top: 21px;
  list-style-type: none;

  @include tablet() {
    width: 350px;
    margin-top: 20px;
  }
}

.modal__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 82px;

  @include tablet() {
    width: 112px;
  }

  &:not(:nth-child(3n)) {
    margin-right: 7px;
  }

  &:hover .modal__mark,
  &:focus-visible .modal__mark {
    border-color: rgb($text-dark, 0.3);
  }

  &:active .modal__mark {
    border-color: $color-aqua-line;
  }
}

.modal__label {
  display: flex;
  flex-grow: 1;
}

.modal__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  border: 2px solid rgb($text-dark, 0.1);
  padding: 17px 22px;
  flex-grow: 1;

  @include tablet() {
    padding: 16px 37px;
  }
}

.modal__button {
  width: 100%;
  margin-top: 30px;
  border: none;

  @include tablet() {
    width: 350px;
  }
}

.modal--open {
  display: flex;
}
