.site-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-link {
  text-decoration: none;
  color: inherit;
}

.navigation {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $title-dark;

  @include mobile-only() {
    display: none;
  }

  @include tablet() {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas: ". user" "basic aftertext";
    box-sizing: border-box;
    max-width: 1150px;
    margin: 0 auto;
  }

  @include desktop() {
    grid-template-columns: 1fr 160px 1fr;
    grid-template-areas: "basic . user" "extra . aftertext";
  }

  &--no-js {
    @include mobile-only() {
      display: block;
      width: 100%;
    }
  }
}

.navigation__item {
  @include mobile-only() {
    display: flex;
    position: relative;
    padding: 29px 30px 26px 30px;
    background-color: $color-white;
    border-top: 1px solid $color-background-product;
    text-align: center;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__item:hover .navigation__icon,
.navigation__item:focus .navigation__icon {
  color: $color-aqua-light;
  opacity: 1;
}

.navigation__item:active .navigation__icon {
  color: $color-aqua-light;
  opacity: 0.3;
}

.navigation--open {
  @include mobile-only() {
    display: block;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $color-white;
  }
}

.navigation__list {
  @include mobile-only() {
    width: 100%;
  }

  @include tablet() {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.navigation__list--basic {
  grid-area: basic;
}

.navigation__list--basic .navigation__item {
  @include desktop() {
    &:not(:first-of-type) {
      border-left: 1px solid rgba($title-dark, 0.1);
    }

    &:first-of-type .navigation__link {
      padding-left: 0;
      margin-right: 36px;
    }
  }
}

.navigation__list--basic .navigation__link {
  @include tablet-only() {
    font-size: 15px;
    margin-top: 20px;
    width: 167px;
  }

  @include desktop() {
    font-size: 17px;
    padding: 33px 0 32px 35px;
  }
}

.navigation__list--user {
  grid-area: user;

  @include desktop() {
    margin-left: auto;
  }
}

.navigation__link {
  @include mobile-only() {
    position: relative;
    padding: 0 0 0 46px;
  }

  @include tablet() {
    display: flex;
    align-items: center;
  }
}

.navigation__link--search,
.navigation__link--basket {
  @include mobile-only() {
    position: relative;
    padding: 0;
  }

  @include tablet() {
    display: flex;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    padding: 35px 0 35px 0;
  }
}

.navigation__link--search {
  @include tablet() {
    border-left: 1px solid rgba($title-dark, 0.1);
    border-right: 1px solid rgba($title-dark, 0.1);
    padding-right: 31px;
    padding-left: 31px;
  }
}

.navigation__link--basket {
  @include tablet() {
    padding-left: 30px;
  }
}


.navigation__list--extra {
  display: none;
  grid-area: extra;

  @include desktop() {
    display: flex;
    font-size: 15px;
  }
}

.navigation__list--extra .navigation__item {
  padding-top: 20px;

  &:not(:first-of-type) {
    margin-left: 45px;
  }
}

.navigation__item-text {
  @include tablet() {
    display: none;
  }
}

.navigation__text {
  grid-area: aftertext;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: $text-dark;
  margin-top: 20px;
  text-align: right;

  @include mobile-only() {
    display: none;
  }
}

.navigation__icon {
  background-repeat: no-repeat;
  background-position: center;
}

.navigation__icon--basket {
  background-image: url("../img/decoration/basket.svg");

  @include mobile-only() {
    margin-right: 25px;
  }

  @include tablet() {
    margin-right: 32px;
  }
}

.navigation__icon--search {
  background-image: url("../img/decoration/search.svg");

  @include mobile-only() {
    margin-right: 26px;
  }
}
