.page__body {
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: $text-dark;
  background-color: $color-white;
  min-width: 320px;
}
