.page__body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: $text-darck;
  background-color: $color-white;
}
