.product-scroll__list {
  padding-top: 30px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 30px;

  @include tablet() {
    padding-top: 67px;
    grid-template-columns: 1fr;
  }

  @include desktop() {
    padding-top: 111px;
    grid-template-columns: 316px 316px 316px;
    grid-column-gap: 52px;
    grid-row-gap: 57px;
  }
}

.product__logo-img {
  width: 100%;
  vertical-align: bottom;

  @include tablet() {
    width: 334px;
    height: 334px;
  }

  @include desktop() {
    width: 316px;
    height: 462px;
  }
}

.product__item {
  border: 1px solid $color-background-product;
  box-sizing: border-box;

  @include tablet-only() {
    display: flex;

    &:not(:first-of-type) {
      margin-top: 54px;
    }
  }

  @include desktop() {
    display: flex;
    flex-direction: column;
    max-width: 316px;
  }
}

.product__logo-link {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}

.product__info {
  display: flex;
  flex-direction: column;
  padding: 27px 32px 27px 28px;
  text-align: left;

  @include tablet-only() {
    flex-grow: 1;
    padding: 27px 32px 26px 34px;
  }

  @include desktop() {
    flex-grow: 1;
    padding: 27px 30px 26px 28px;
  }
}

.product__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $title-dark;
  text-decoration: none;

  @include tablet() {
    font-size: 20px;
  }
}

.product__text {
  font-size: 13px;
  margin: 6px 0 0 0;

  @include tablet() {
    font-size: 15px;
  }

  @include desktop() {
    padding-bottom: 13px;
  }
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  margin-top: 17px;
  border-top: 1px solid $color-background-product;

  @include tablet() {
    margin-top: auto;
  }
}

.product__text-price {
  font-weight: 700;
  line-height: 24px;
  color: $title-dark;
  margin: 0;

  @include tablet() {
    font-size: 17px;
  }
}

.product__basket {
  background-image: url("../img/goods/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 19px;
}
