.production {
  padding-top: 30px;
  padding-bottom: 58px;

  @include tablet() {
    padding-top: 53px;
    padding-bottom: 64px;
  }

  @include desktop() {
    padding-top: 57px;
    padding-bottom: 102px;
  }
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-background-product;
  transition: 0.3s;

  @include desktop() {
    display: grid;
    grid-template-columns: 683px auto;
    column-gap: 79px;
  }

  .production__video {
    @include desktop() {
      grid-area: 1 / 1 / 4 / 2;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  display: flex;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: $title-dark;
  padding: 22px 0 27px 91px;
  margin: 0;
  order: -1;

  @include tablet() {
    font-size: 20px;
    padding-left: 107px;
    padding-top: 41px;
    padding-bottom: 25px;
    order: 0;
    border: none;
  }

  @include desktop() {
    align-items: flex-start;
    padding-top: 96px;
    padding-left: 0;
    padding-bottom: 0;
    max-width: 180px;
  }

  &::after {
    position: absolute;
    top: 35px;
    left: 34px;
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/goods/camera.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include tablet() {
      top: 39px;
      left: 42px;
    }

    @include desktop() {
      top: 45px;
      left: -1px;
    }
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  margin: 34px 0 0 0;
  padding-left: 34px;

  @include tablet() {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    padding-left: 40px;
  }

  @include desktop() {
    margin-top: 24px;
    padding-left: 0;
  }
}

.production__button {
  align-self: center;
  margin: 41px auto 33px auto;

  @include tablet() {
    margin: 41px 42px 46px 42px;
    width: 87%;
  }

  @include desktop () {
    margin: 52px auto 60px 0;
    max-width: 230px;
  }
}
