.social__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__icon {
  fill: $icon-dark;
  transition: 0.3s;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $color-aqua-footer;
  transition: 0.3s;
}

.social__link:active .social__icon {
  opacity: 0.3;
  transition: 0.3s;
}
