.button {
  box-sizing: border-box;
  display: inline-flex;
  font-family: inherit;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $text-dark;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  max-width: 400px;

  &--primary {
    font-size: 18px;
    line-height: 20px;
    padding: 13px 20px;
    border: 2px solid $text-dark;

    @include tablet() {
      font-size: 17px;
    }
  }

  &--secondary {
    font-size: 17px;
    line-height: 16px;
    color: $color-white;
    background-color: $color-aqua-light;
    padding: 18px 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $button-aqua-style;
  }
}
