.input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $title-dark;
  border-bottom: 2px solid $title-dark;
  border: none;
  background: transparent;
  box-sizing: border-box;
  box-shadow: inset 0 -2px 0;
}
