.form-radio__label {
  display: flex;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: $title-dark;
  align-items: center;

  @include tablet() {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-radio__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  min-width: 42px;
  border: 2px solid $text-dark;
  border-radius: 100%;
  margin-right: 19px;
  box-sizing: border-box;
  flex-shrink: 0;

  @include tablet() {
    min-height: 52px;
    min-width: 52px;
    margin-right: 26px;
  }
}

.form-radio:not(:first-of-type) {
  margin-top: 11px;

  @include tablet() {
    margin-top: 24px;
  }
}

.form-radio__input:checked + .form-radio__mark::before {
  background-color: $color-aqua-line;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.form-radio {
  &:hover .form-radio__mark,
  &:focus-visible .form-radio__mark {
    border-color: $color-aqua-line;
  }

  &:active .form-radio__mark {
    border-color: rgba($text-dark, 0.3);
  }
}
