.input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: $title-dark;
  border-bottom: 2px solid $title-dark;
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  box-shadow: inset 0px -2px 0px $title-dark;

  @include tablet() {
    font-size: 19px;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 18px;
  }

  &:hover,
  &:focus-within {
    box-shadow: inset 0px -2px 0px $color-aqua-line;
  }

  &:active,
  &:focus {
    box-shadow: inset 0px -2px 0px $color-aqua-line;
  }
}
