.form-checkbox__label {
  display: flex;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: $title-dark;
  align-items: center;

  @include tablet() {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-checkbox__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  border: 2px solid $text-dark;
  min-height: 38px;
  min-width: 38px;
  margin-right: 23px;
  box-sizing: border-box;
  flex-shrink: 0;

  @include tablet() {
    height: 52px;
    width: 52px;
    margin-right: 29px;
  }
}

.form-checkbox:not(:first-of-type) {
  @include mobile-only() {
    margin-top: 23px;
  }
}

.form-checkbox__input:checked + .form-checkbox__mark::before {
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../img/decoration/checkbox-m.svg");
  background-repeat: no-repeat;
  background-position: center;

  @include tablet() {
    background-image: url("../img/decoration/checkbox-t.svg");
    width: 32px;
    height: 22px;
  }
}

.form-checkbox {
  &:hover .form-checkbox__mark,
  &:focus-visible .form-checkbox__mark {
    border-color: $color-aqua-line;
  }
}
