// Background Color
$color-white: #ffffff;
$color-white-darck: #f1f1f1;
$color-aqua-light: #63d1bb;
$color-aqua: #56c3b2;
$color-background-img: #a7a5a5;

// Text Color
$title-darck: #000000;
$text-darck: #444444;
$title-aqua-light: #63d1bb;
$button-text-darck: #444444;
$button-text-white: #ffffff;

