// Background-Color & Color
$color-white: #ffffff;
$color-white-darck: #f1f1f1;
$color-aqua-light: #63d1bb;
$color-aqua: #56c3b2;
$color-aqua-line: #62d1ba;
$color-aqua-footer: #46c1ae;
$color-background-img: #fbfbfb;
$color-background-product: #ececec;
$color-border: #e5e5e5;
$color-background-burger: #231f20;

// Text Color
$title-dark: #000000;
$text-dark: #444444;
$title-aqua-light: #63d1bb;
$button-text-darck: #444444;
$button-text-white: #ffffff;
